:root {
  --color-blue: #646cff;
  --color-blue-light: #747bff;
  --color-blue-lighter: #9499ff;
  --color-blue-lightest: #bcc0ff;
  --color-blue-dark: #535bf2;
  --color-blue-darker: #454ce1;
  --color-blue-dimm: rgb(100 108 255 / 8%);
  --color-white: #ffffff;
  --color-white-soft: #f9f9f9;
  --color-white-mute: #f1f1f1;
  --color-black: #1a1a1a;
  --color-black-pure: #000000;
  --color-black-soft: #242424;
  --color-black-mute: #2f2f2f;
  --color-gray: #8e8e8e;
  --color-gray-light-1: #aeaeae;
  --color-gray-light-2: #c7c7c7;
  --color-gray-light-3: #d1d1d1;
  --color-gray-light-4: #e5e5e5;
  --color-gray-light-5: #f2f2f2;
  --color-gray-dark-1: #636363;
  --color-gray-dark-2: #484848;
  --color-gray-dark-3: #3a3a3a;
  --color-gray-dark-4: #282828;
  --color-gray-dark-5: #202020;
  --color-text-light-1: var(--color-indigo);
  --color-text-light-2: rgb(60 60 60 / 70%);
  --color-text-light-3: rgb(60 60 60 / 33%);
  --color-text-light-4: rgb(60 60 60 / 18%);
  --color-divider-light: rgb(60 60 60 / 8%);
  --color-divider-dark: rgb(84 84 84 / 18%);
  --color-text-dark-1: rgb(255 255 255 / 87%);
  --color-text-dark-2: rgb(235 235 235 / 60%);
  --color-text-dark-3: rgb(235 235 235 / 38%);
  --color-text-dark-4: rgb(235 235 235 / 18%);
  --color-indigo: #213547;
  --color-indigo-soft: #476582;
  --color-indigo-light: #aac8e4;
  --color-indigo-lighter: #c9def1;
  --color-indigo-dark: #1d2f3f;
  --color-indigo-darker: #14212e;
  --color-green: #42b883;
  --color-green-light: #42d392;
  --color-green-lighter: #35eb9a;
  --color-green-dark: #33a06f;
  --color-green-darker: #155f3e;
  --color-green-dimm-1: rgb(66 184 131 / 50%);
  --color-green-dimm-2: rgb(66 184 131 / 25%);
  --color-green-dimm-3: rgb(66 184 131 / 5%);
  --color-yellow: #ffc517;
  --color-yellow-light: #fcd253;
  --color-yellow-lighter: #fcfc7c;
  --color-yellow-dark: #e0ad15;
  --color-yellow-darker: #ad850e;
  --color-yellow-dimm-1: rgb(255 197 23 / 50%);
  --color-yellow-dimm-2: rgb(255 197 23 / 25%);
  --color-yellow-dimm-3: rgb(255 197 23 / 5%);
  --color-red: #ed3c50;
  --color-red-light: #f54e82;
  --color-red-lighter: #fd1d7c;
  --color-red-dark: #cd2d3f;
  --color-red-darker: #ab2131;
  --color-red-dimm-1: rgb(237 60 80 / 50%);
  --color-red-dimm-2: rgb(237 60 80 / 25%);
  --color-red-dimm-3: rgb(237 60 80 / 5%);
}

:root[data-theme="light"] {
  --color-scheme: light;
  --color-action: var(--color-blue-light);
  --color-action-hover: var(--color-blue);
  --color-background: var(--color-white); // #18191a;
  --color-text: var(--color-text-light-1); // // rgb(255 255 255 / 87%)
  --color-link: var(--color-action);
  --color-link-hover: var(--color-action-hover); // #535bf2;
  --color-border: var(--color-gray-light-4);
  --color-border-hover: var(--color-action);
  --color-divider: var(--color-divider-light);
  --color-background-warning: var(--color-red-dimm-1);
  --color-background-failure: var(--color-red-light);
  --color-background-success: var(--color-green-light);
  --color-success: var(--color-green-dark);
  --color-failure: var(--color-red-dark);
  --color-failure-hover: var(--color-red-dark);
  --color-warning: var(--color-yellow);
  --color-warning-hover: var(--color-yellow-dark);
  --color-control: var(--color-text-light-3);
  --color-control-hover: var(--color-text-light-1);
  --color-button-background: var(--color-white-soft);
  --color-background-item: var(--color-white-soft);
  --box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px;
  --box-shadow-hover: rgb(0 0 0 / 5%) 0 6px 24px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
  --box-shadow-success: var(--color-green-dimm-3) 0 0 0 1px;
  --box-shadow-success-hover: var(--color-green-dimm-3) 0 6px 24px 0, var(--color-green-dimm-3) 0 0 0 1px;
  --box-shadow-failure: var(--color-red-dimm-3) 0 0 0 1px;
  --box-shadow-failure-hover: var(--color-red-dimm-3) 0 6px 24px 0, var(--color-red-dimm-3) 0 0 0 1px;

}

:root[data-theme="dark"] {
  --color-scheme: dark;
  --color-action: var(--color-blue-darker);
  --color-action-hover: var(--color-blue-dark);
  --color-background: var(--color-black-soft); // #18191a;
  --color-text: var(--color-text-dark-1); // // rgb(255 255 255 / 87%)
  --color-link: var(--color-action);
  --color-link-hover: var(--color-action-hover); // #535bf2;
  --color-border: var(--color-black-mute);
  --color-border-hover: var(--color-action);
  --color-divider: var(--color-divider-dark);
  --color-background-warning: var(--color-red-dimm-2);
  --color-background-failure: var(--color-red-darker);
  --color-background-success: var(--color-green-darker);
  --color-success: var(--color-green-darker);
  --color-failure: var(--color-red-darker);
  --color-failure-hover: var(--color-red-darker);
  --color-warning: var(--color-yellow-dark);
  --color-warning-hover: var(--color-yellow-darker);
  --color-control: var(--color-text-dark-3);
  --color-control-hover: var(--color-text-dark-1);
  --color-button-background: var(--color-black);
  --color-background-item: var(--color-black);
  --box-shadow: rgb(255 255 255 / 10%) 0 0 0 1px;
  --box-shadow-hover: rgb(255 255 255 / 10%) 0 6px 24px 0, rgb(255 255 255 / 20%) 0 0 0 1px;
  --box-shadow-success: var(--color-green-dimm-3) 0 0 0 1px;
  --box-shadow-success-hover: var(--color-green-dimm-3) 0 6px 24px 0, var(--color-green-dimm-3) 0 0 0 1px;
  --box-shadow-failure: var(--color-red-dimm-3) 0 0 0 1px;
  --box-shadow-failure-hover: var(--color-red-dimm-3) 0 6px 24px 0, var(--color-red-dimm-3) 0 0 0 1px;
}
